<h2>Listing Students</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Rating</th>
      <% if can? :edit, Student%>
        <th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @allStudents.each do |student| %>
        <tr>
          <td><%=link_to "#{student.last_name}, #{student.first_name}",student %></td>
          <td><%= student.age %></td>
          <td><%= student.rating == 0 ? "Unrated" : student.rating %> </td>
          <% if can? :edit, student%>
            <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <%end%>
        </tr>
    <% end %>
  </tbody>
</table>
<br>

<h2>Listing Inactive Students</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <% if can? :edit, Student%>
        <th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @inactiveStudents.each do |student| %>
        <tr>
          <td><%=link_to "#{student.last_name}, #{student.first_name}",student %></td>
          <td><%= student.age %></td>
          <% if can? :edit, student%>
            <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <%end%>
        </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Student', new_student_path, class: "button extended round radius" %>
