  <div class="row">
  <%= simple_form_for @camp, html: { class: 'form-horizontal' } do |f| %>
    <fieldset class="small-9 columns">
      <legend><%= controller.action_name.capitalize %> Camp</legend>
      <%=  f.input :curriculum_id, label: "Curriculum Name (do this in model?)", collection: Curriculum.active.alphabetical, as: :select%>
      <%= f.input :start_date, class: "small-3 columns" %>
      <%= f.input :time_slot, collection: [["Morning", "am"], ["Afternoon", "pm"]], as: :select, selected: "Morning"%>
      <%= f.input :cost, required: true %>
      <%= f.input :end_date %>
      <%= f.input :max_students%>
      <% if controller.action_name == "edit" then %>
        <%= f.input :instructor_ids, label: "Camp Instructors:", collection: @allInstructors, as: :check_boxes %> 
      <%end%>
    <div class="form-actions">
      <%= f.submit nil, class: 'button small-4 columns' %>
    </div>
    <% if controller.action_name == "edit" then %>
      <%= link_to 'Destroy', @camp, method: :delete, class: "button tiny radius alert right small-2 columns" %>
    <%end%>
  <% end %>
    </fieldset>
</div>
