<h2>Upcoming Camps</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>Time Slot</th>
      <% if can? :update, Camp %>
        <th></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @upcomingCamps.each do |camp| %>
      <tr>
        <td><%= link_to "#{camp.name}", camp %></td>
        <td><%= camp.start_date.strftime("%m/%d/%y") %></td>
        <td><%= camp.time_slot == "am" ? "Morning" : "Afternoon"%></td>
        <% if can? :update, camp %>
          <td ><%= link_to 'Edit', edit_camp_path(camp), class: "button tiny radius" %></td>
        <%end%>
        </tr>
    <% end %>
  </tbody>
</table>

<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
<br> <br>

<% if current_user.present? %> 
 <h2>Past Camps</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <% if can? :update, Camp %>
          <th></th>
        <%end%>
      </tr>
    </thead>
    
    <tbody>
      <% @pastCamps.each do |camp| %>
        <tr>
          <td><%= link_to "#{camp.name}", camp %></td>
          <td><%= camp.start_date.strftime("%m/%d/%y") %></td>
          <% if can? :update, camp %>
            <td ><%= link_to 'Edit', edit_camp_path(camp), class: "button tiny radius" %></td>
          <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Add the pagination using will_paginate gem -->
  <span class="paginate">
  <%= will_paginate @pastCamps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>
<%end%>
<br>

<% if can? :create, Camp %>
  <%= link_to 'New Camp', new_camp_path, class: "button extended round radius"  %>
<%end%>
<% if can? :create, Registration%>
<%= link_to 'New Registration', new_registration_path, class: "button extended round radius" %>
<%end%>
