<div class="row">
  <div class="small-5 columns"
    <p id="notice"><%= notice %></p>
    <h2>Camp Details</h2>

    <p>
      <strong>Name:</strong>
      <%= @camp.name %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= number_to_currency(@camp.cost) %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= "#{@camp.curriculum.min_rating} - #{@camp.curriculum.max_rating}" %>   
    </p>

    <p>
      <strong>Dates:</strong>
      <%= @dates %>
    </p>

    <p>
      <strong>Time slot:</strong>
      <%= @timeSlot %>
    </p>

    <p>
      <strong>Max Enroll:</strong>
      <%= @camp.max_students %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= link_to "#{@camp.location.name}", location_path(@camp.location)%>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @status%>
    </p>
    <% if can? :update, Camp %>
      <%= link_to 'Edit', edit_camp_path(@camp) %> |
    <%end%>
    <%= link_to 'Back', camps_path %>
  </div>

  <div class="small-7 columns right">
    <h2>Camp Instructors</h2>
    <% if @instructors.count > 0 %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Bio</th>
        </tr>
      </thead>
      <tbody>
        <% @instructors.each do |instructor| %>
          <tr>
          <% if current_user.present? && current_user == instructor.user %>
            <td><%= link_to "#{instructor.last_name}, #{instructor.first_name}", instructor %></td>
          <%else%>
            <td><%="#{instructor.last_name}, #{instructor.first_name}"%></td>
          <%end%>

          <% if !instructor.photo_url.nil? && !instructor.photo_url.include?("missing") %>
            <td> <%= image_tag instructor.photo_url, size: "100x100" %> </td>
          <% else %>
            <td> <%= image_tag "missing.png", size: "100x100" %> </td>
          <%end%>

          <td><%= instructor.bio %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- Add the pagination using will_paginate gem -->
    <span class="paginate">
    <%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
    </span>
    <%else%>
      <br>
      <h5>There are no instructors asigned to this camp in the system</h5>
    <%end%>
    <br><br>
  </div>


  <div class="small-7 columns right">
    <div >
      <h2>Camp Location</h2>
      <div id="map" style='width: 500px; height: 250px;'></div>
    </div>
  </div>
</div>

<% if !current_user.nil? %>
  <div class="small-7 columns left">
    <h2><%="Registrations (#{@registrationSize})"%></h2>
    <% if @registrations.count > 0 %>
    <table>
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <% if can? :read, registration.student %>
              <td><%=link_to "#{registration.student.last_name}, #{registration.student.first_name}", registration.student %></td>
            <% else %>
              <td><%="#{registration.student.last_name}, #{registration.student.first_name}"%></td>
            <% end %>

            <td><%= registration.student.rating == 0 ? "Unrated" : registration.student.rating %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <!-- Add the pagination using will_paginate gem -->
    <span class="paginate">
    <%= will_paginate @registrations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
    </span>
    <br><br>
  </div>
<%else%>
    <br>
    <h5>There are no registrations for this camp in the system</h5>
<%end%>
<% end %>

<br><br><br>
<% if can? :edit, Camp%>
<%= render 'register_student' %>
<% end %>


<!--javascript-->
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%=@location.latitude%>,
        "lng": <%=@location.longitude%>,
        "picture": {
          "url": "http://www.signegeneve.ch/wp-content/themes/parallelus-salutation/assets/images/gmap-marker.png",
          "width":  36,
          "height": 36,
        },
        "infowindow":"hello",
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });
</script>

