<div class="row">
  <div class="small-5 columns"
    <p id="notice"><%= notice %></p>
    <h2>Camp Details</h2>

    <p>
      <strong>Name:</strong>
      <%= @camp.name %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= number_to_currency(@camp.cost) %>
    </p>

    <p>
      <strong>Dates:</strong>
      <%= @dates %>
    </p>

    <p>
      <strong>Time slot:</strong>
      <%= @timeSlot %>
    </p>

    <p>
      <strong>Max Enroll:</strong>
      <%= @camp.max_students %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @status%>
    </p>
    <%= link_to 'Edit', edit_camp_path(@camp) %> |
    <%= link_to 'Back', camps_path %>
  </div>
  <div class="small-7 columns right">
    <h2>Camp Instructors</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Bio</th>
        </tr>
      </thead>
      <tbody>
        <% @instructors.each do |instructor| %>
          <tr>
          <td><%= link_to "#{instructor.last_name}, #{instructor.first_name}", instructor %></td>
            <td><%= instructor.bio %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- Add the pagination using will_paginate gem -->
    <span class="paginate">
    <%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
    </span>
    <br><br>
  </div>
  <div class="small-7 columns right">
    <div >
      <h2>Camp Loction</h2>
      <div id="map" style='width: 500px; height: 250px;'></div>
    </div>
  </div>
</div>


<!--javascript-->
<script>
  console.log("POOOOOOOO")
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%=@location.latitude%>,
        "lng": <%=@location.longitude%>,
        "picture": {
          "url": "http://www.signegeneve.ch/wp-content/themes/parallelus-salutation/assets/images/gmap-marker.png",
          "width":  36,
          "height": 36,
        },
        "infowindow":"hello",
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });
</script>