<h2>Listing Families</h2>

<% if @families.size > 0 %>
<table>
  <thead>
    <tr>
      <th>Family Name</th>
      <th>Parent First Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= link_to "#{family.family_name}", family %></td>
        <td><%= family.parent_first_name %></td>
        <td><%= number_to_phone(family.phone)%></td>
        <td><%= mail_to(family.email, "#{family.email}", :encode => "javascript") %></td>       
        <td><%= link_to 'Edit', edit_family_path(family), class: "button tiny radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @families, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<%else%>
  <br>
  <h5>There are no active families in the system</h5>
<%end%>
<br><br>

<h2>Listing Inactive Families</h2>

<% if @inactiveFamilies.size > 0 %>
  <table>
    <thead>
      <tr>
        <th>Family name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @inactiveFamilies.each do |family| %>
        <tr>
          <td><%= link_to "#{family.family_name}", family %></td>
          <td><%= number_to_phone(family.phone)%></td>
          <td><%= mail_to(family.email, "#{family.email}", :encode => "javascript") %></td>       
          <td><%= link_to 'Edit', edit_instructor_path(family), class: "button tiny radius" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span class="paginate">
  <%= will_paginate @inactiveFamilies, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>
<%else%>
  <br>
  <h5>There are no inactive families in the system</h5>
<%end%>

<br><br>

<%= link_to 'New Family', new_family_path, class: "button extended round radius" %>
