<p id="notice"><%= notice %></p>

<p>
  <strong>Family name:</strong>
  <%= @family.family_name %>
</p>

<p>
  <strong>Parent first name:</strong>
  <%= @family.parent_first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to(@family.email, "#{@family.email}", :encode => "javascript") %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@family.phone, area_code: true) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @status %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
