<%= simple_nested_form_for @instructor, html: { class: 'form-horizontal' } do |i_form| %>
  <fieldset class="small-6 columns" >
  <div class="row">
    <div class="small-12 columns">
        <legend><%= controller.action_name.capitalize %> Instructor</legend>
          <div class="small-6 columns">
            <%= i_form.input :first_name %>
          </div>
          <div class="small-6 columns">
            <%= i_form.input :last_name%>
          </div>
          <div class="small-6 columns">  
              <%= i_form.input :phone %>
          </div>
          <div class="small-6 columns">    
            <%= i_form.input :email%>
          </div>
          <div class="small-12 columns">
          <%= i_form.input :bio %>
          </div>
          <div class="small-12 columns">
          <%= i_form.input :active%>
        </div>
    </div>
      <% if @instructor.user.nil? then%>
        <div class="small-8 columns">
          <legend>Add a user to this Instructor</legend>
            <div id="instructor_users">
              <%= i_form.simple_fields_for :user do |user_form| %>
               <fieldset class="small-12 columns" >
                <div class="row">
                  <div class="small-12 columns">
                      <!--<legend><%= controller.action_name.capitalize %> User</legend>-->
                        <div class="small-6 columns">
                            <%= user_form.input :username%>
                        </div>
                        <div class="small-6 columns">
                            <%= user_form.input :password_digest%>
                        </div>
                        <div class="small-6 columns">  
                            <%= user_form.input :role%>
                        </div>
                        <div class="small-12 columns">
                            <%= user_form.input :active%>
                      </div>
                    </div>
                  </div>
              <% end %>
              <p>
                <br /><%= i_form.link_to_add("Add User", :user, :class => 'button tiny') %>
              </p>
            </div> 
          </div>
      <%else%>
        <div class="small-8 colums">
          <%=@instructor.user.username%>
          <td><%= link_to 'Destroy', @instructor.user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      <%end%>
    </div>
  </div>
  <div class= "row">
    <div class="small-12 columns">
      <div class="small-6 columns form-actions">
        <%= i_form.submit nil, class: 'button' %>
      </div>
      <% if controller.action_name == "edit" then %>
        <%= link_to 'Destroy', @instructor, method: :delete, class: "button tiny radius alert right small-2 columns" %>
      <%end%>
    </div>
  </div>
  </fieldset>
<% end %>
