<h2>Listing Locations</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Capacity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td> <%=link_to location.name, location %></td>
        <td>
          <%= location.street_1 %><br>
          <%= location.street_2 if !location.street_2.blank? %>
          <%= raw("<br>") if !location.street_2.blank? %>
          <%= "#{location.city}, #{location.state} #{location.zip}"%>
        </td>
        <td> <%=location.max_capacity%></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Listing Inactive Locations</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street 1</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inactiveLocations.each do |location| %>
      <tr>
        <td> <%=link_to location.name, location %></td>
        <td><%= location.street_1 %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Location', new_location_path, class: "button extended round radius" %>
