<h2>Listing Locations</h2>
<% if @locations.size > 0 %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Capacity</th>
      <% if can? :edit, Location %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td> <%=link_to location.name, location %></td>
        <td>
          <%= location.street_1 %><br>
          <%= location.street_2 if !location.street_2.blank? %>
          <%= raw("<br>") if !location.street_2.blank? %>
          <%= "#{location.city}, #{location.state} #{location.zip}"%>
        </td>
        <td> <%=location.max_capacity%></td>
        <% if can? :edit, Location%>
          <td><%= link_to 'Edit', edit_location_path(location), class: "button tiny round radius" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @locations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
  <%else%>
    <br>
    <h5>There are no active locations in the system</h5>
  <%end%>
<br> <br>

<br>

<h2>Listing Inactive Locations</h2>
<% if @inactiveLocations.size > 0 %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street 1</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inactiveLocations.each do |location| %>
      <tr>
        <td> <%=link_to location.name, location %></td>
        <td><%= location.street_1 %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="paginate">
<%= will_paginate @inactiveLocations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
  <%else%>
    <br>
    <h5>There are no inactive locations in the system</h5>
  <%end%>
<br> <br>

<% if can? :create, Location %>
<%= link_to 'New Location', new_location_path, class: "button extended round radius" %>
<%end%>
