<div class="row">
  <div class="small-12 columns">
    <div class = "small-5 columns">
      <h2>Location Details</h2>
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Name:</strong>
        <%= @location.name %>
      </p>

      <p>
        <strong>Address:</strong><br>
        <%= @location.street_1 %><br>
        <%= @location.street_2 if !@location.street_2.blank? %>
        <%= raw("<br>") if !@location.street_2.blank? %>
        <%= "#{@location.city}, #{@location.state} #{@location.zip}"%>
      </p>
      <% if can? :edit, Location%>
        <p>
          <strong>Maximum Capacity:</strong>
          <%= @location.max_capacity %>
        </p>
      <%end%>

      <p>
        <strong>Status:</strong>
        <%= @status %>
      </p>
    </div>
      <div class="small-7 columns right">
      <h2>Camps at <%=@location.name%></h2>
      <% if @camps.size > 0 %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Start Date</th>
            </tr>
          </thead>
          <tbody>
            <% @camps.each do |camp| %>
              <tr>
              <td><%= link_to "#{camp.name}", camp%></td>
                <td><%= camp.start_date %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- Add the pagination using will_paginate gem -->
        <span class="paginate">
        <%= will_paginate @camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        </span>
        <%else%>
          <br>
          <h5>There are no active camps at this location</h5>
        <%end%>
        <br><br>
      </div>
      <div class="small-7 columns right"> 
        <h2>Location Map</h2>
        <div >
          <div id="map" style='width: 600px; height: 300px;'></div>
        </div>
      </div>
    </div>
  </div>
  
<% if can? :edit, Location %>
  <%= link_to 'Edit', edit_location_path(@location) %> |
<% end %>
<% if current_user.present? %>
  <% if can? :edit, Location %>
  <%= link_to 'Back', locations_path %>
  <% end %>
<% end %>
<br><br>

<!--javascript-->
<script>
  console.log("POOOOOOOO")
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%=@location.latitude%>,
        "lng": <%=@location.longitude%>,
        "picture": {
          "url": "http://www.signegeneve.ch/wp-content/themes/parallelus-salutation/assets/images/gmap-marker.png",
          "width":  36,
          "height": 36,
        },
        "infowindow":"hello",
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);
  });
</script>
